.checking{
  background: #929292;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.busy{
  background: #FF3232;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.free{
  background: #48BA46;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}