.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: flex-end;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  @include hover {
    background-color: var(--hover);
  }
}

.btn__active {
  background-color: var(--travis);
  color: white;
  @include hover {
    background-color: var(--travis);
  }
}

.send {
  margin: 0 0 10px 0;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--travis);

  @include hover {
    background-color: var(--dark-travis);
  }
}
