.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--hover);
  }
}

.send {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--travis);

  &:hover {
    background-color: var(--dark-travis);
  }
}
