.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  height: 100%;
}

.header {
  display: flex;
  padding: 10px 5px;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--hover);
  }
}

.edit {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: 100%;
  padding: 5px;
  overflow: auto;
  transition: all 0.3s;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.scroll {
  &:hover {
    scrollbar-color: rgba(90, 90, 90, 0.3) transparent;

    &::-webkit-scrollbar-thumb {
      background-color: rgba(90, 90, 90, 0.3);
    }

    //&::-webkit-scrollbar {
    //  width: 5px;
    //}
    //&::-webkit-scrollbar-thumb {
    //  background-color: var(--gray);
    //  opacity: 0.3;
    //  border-radius: 5px;
    //  //margin-outside: 10;
    //  border: 1px solid var(--background);
    //}
  }
}

.resize {
  height: 100%;
  width: 2px;
  background-color: var(--gray);
  cursor: ew-resize;
  box-sizing: content-box;

  &:hover {
    background-color: var(--color);
  }
}

.active {
  background: var(--dark-travis);
  color: #ffffff;
}

.chat {
  flex: 1 1 auto;
  animation: 0.2s transform forwards;
}

@keyframes transform {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

.settings {
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s;
  position: relative;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(90, 90, 90, 0.3);
    border: 1px solid var(--background);
  }
}
