.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  height: 100%;
}

.lucide {
  cursor: pointer;
}

.header {
  display: flex;
  padding: 10px 5px;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;

  &:hover {
    background-color: var(--hover);
  }
}

.list {
  height: 100%;
  padding: 5px;
  overflow: auto;
  transition: all 0.3s;
  position: relative;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.scroll {
  &:hover {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--travis);
      border-radius: 5px;
      margin-outside: 10;
      border: 3px solid var(--background);
    }
  }
}

.resize {
  height: 100%;
  width: 2px;
  background-color: var(--gray);
  cursor: ew-resize;
  box-sizing: content-box;

  &:hover {
    background-color: var(--color);
  }
}

.chat {
  flex: 1 1 auto;
  animation: 0.2s transform forwards;
}

@keyframes transform {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

.edit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.3s transform forwards;
}
