.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
}

.header {
  padding: 10px 5px;
  border-bottom: 1px solid var(--gray);
  position: relative;
  &__overlay {
    transition: left 0.3s ease-in-out;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--background);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  &__active {
    left: 40px;
  }
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--hover);
  }
  &__active {
    background: var(--dark-travis);
    color: #ffffff;
    &:hover {
      background: var(--dark-travis);
    }
  }
}
.right {
  flex: 1;
  position: relative;
}
.block {
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  &__active {
    right: 0;
  }
}

.list {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.resize {
  height: 100%;
  width: 2px;
  background-color: var(--gray);
  cursor: ew-resize;
  box-sizing: content-box;
  &:hover {
    background-color: var(--color);
  }
}

.chat {
  flex: 1 1 auto;
}

.settings {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &__active {
    left: 0;
  }
}
