:root {
  --background: #fff;
  --travis: #3886e4;
  --logo: #000;
  --hover: #dadada;
  --color: #000000;
}

[data-theme="dark"] {
  --background: #1a1a1c;
  --travis: #3886e4;
  --logo: #fff;
  --hover: #000000;
  --color: #ffffff;
}
