.wrapper {
  position: relative;
  div {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.08);
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.08),
        transparent
      );
      transform: translateX(-100%);
      content: "";
      animation: 2s linear 0.5s infinite normal none running shim;
    }
  }
}

@keyframes shim {
  100% {
    transform: translateX(100%);
  }
}


