.wrapper {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}
.recipient {
  .message {
    background-color: var(--hover);
  }
}
.sender {
  justify-content: flex-end;
  .message {
    background-color: var(--travis);
    color: white;
    order: 2;
  }
  .info {
    order: 1;
  }
}
.message {
  max-width: 400px;
  padding: 9px 10px 10px 10px;
  border-radius: 10px;
  word-break: break-all;
}

.info {
  display: flex;
  gap: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: var(--gray);
}
