.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 5px;
  overflow-y: auto;
}

.item {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  color: var(--color);
  &:hover {
    background-color: var(--hover);
  }
}
.lucide {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.arrow {
  color: #929292;
}
.active {
  background: var(--travis) !important;
  .lucide {
    background: #ffffff;
    color: #000000;
  }
  .title {
    color: white;
  }
  .arrow {
    color: var(--travis);
  }
}
.title {
  flex: 1;
  text-align: left;
}

.profile {
  background: #fe2c55;
}

.language {
  background: #cf75e5;
}
