.label{
  position: relative;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid #929292;
  width: 100%;
  max-height: 100%;
  cursor: text;
  &:focus-within{
    border: 1px solid var(--travis);
    .input::placeholder{
      color: var(--travis)
    }
    .subtitle, .number{
      color: var(--travis);
    }
  }
  display: flex;
  align-items: center;
}

.textarea{
  width: 100%;
  background: none;
  font-size: 20px;
  resize: none;
  display: flex;
  align-items: center;
}

.subtitle{
  font-size: 20px;
  color: #929292;
  position: absolute;
  top: 32px;
  left: 20px;
  background: var(--background);
  animation: 0.1s forwards subtitle;
}

@keyframes subtitle {
  0% {
    font-size: 20px;
    top: 32px;
    left: 20px;
  }
  100% {
    font-size: 14px;
    left: 18px;
    top: -8px;
  }
}


.number{
  position: absolute;
  color: #929292;
  background: var(--background);
  font-size: 14px;
  left: auto;
  top: -8px;
  right: 18px;
}

.placeholder{
  font-size: 20px;
  color: #929292;
  position: absolute;
  top: 32px;
  left: 20px;
  background: var(--background);
  animation: 0.1s forwards placeholder;
}
@keyframes placeholder {
  0% {
    font-size: 14px;
    left: 18px;
    top: -8px;
  }
  100% {

    font-size: 20px;
    top: 32px;
    left: 20px;
  }
}