.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
.username {
  position: relative;
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}

.btn {
  border-radius: 7px;
  background-color: var(--travis);
  padding: 8px 10px 10px 10px;
  font-size: 16px;
  &:disabled {
    opacity: 0.1;
  }
  &:hover {
    background-color: var(--dark-travis);
  }
}

.rules {
  width: 100%;
  color: var(--gray);
  span {
    color: var(--color);
  }
}

.langWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.langBlock {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.langActive {
  background-color: var(--travis);
  border-radius: 5px;
  padding: 4px 10px 5px;
}
.lang {
  border-radius: 4px;
  padding: 4px 10px 5px;
  &:hover {
    background-color: var(--hover);
  }
}

.check {
  position: absolute;
  right: 0;
  bottom: 37px;
}

.checking {
  background: var(--gray);
  font-size: 12px;
  padding: 0 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.busy {
  background: #ff3232;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.free {
  background: #48ba46;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.image {
  border-radius: 50%;
}

.avatarBlock {
  position: relative;
}
.avatarBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.avatarDone {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--travis);
  margin: 0 auto;
  &:hover {
    background-color: var(--dark-travis);
  }
}
