:root {
  --background: #fff;
  --travis: #3886e4;
  --dark-travis: #2779dc;
  --logo: #000;
  --hover: #dadada;
  --color: #000000;
  --overlay: rgba(0, 0, 0, 0.3);
  --gray: #929292;
  --busy: #ff3232;
  --free: #48ba46;
  --background-skeleton: linear-gradient(90deg, transparent, #d3d3d3, transparent);
  --border-skeleton: 1px solid rgb(204, 204, 204);
}

[data-theme="dark"] {
  --background: #1a1a1c;
  --travis: #3886e4;
  --dark-travis: #2779dc;
  --logo: #fff;
  --hover: #000000;
  --color: #ffffff;
  --overlay: rgba(255, 255, 255, 0.3);
  --gray: #929292;
  --busy: #ff3232;
  --free: #48ba46;
  --background-skeleton: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  --border-skeleton: 1px solid rgba(255, 255, 255, 0.08);
}
